@font-face {
  font-family: 'Exo';
  src: local('Lato'), url(./Exo2.0-Thin.otf) format('opentype');
}

.App {
  text-align: center;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.5) 100%), url('./Pattern.png');
  background-repeat: repeat;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 45px 0 21px 0;
  color: white;
  font-family: Exo;
}

.food {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  .food {
    max-width: 900px;
  }
  .food:first-child {
    flex: 100%;
  }
} 